ApplicationLog
db/development.sqlite3
cache/
config/local_env.*
log/*
pacientes/*
public/avatar
public/avatars
public/plots
shared/log
tmp/*
tmp/*
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/node_modules
/yarn-error.log
.byebug_history
